# Akuity Platform
AKUITY_ARGOCD_INSTANCE_NAME=<your-argocd-instance>
AKUITY_KARGO_INSTANCE_NAME=<your-kargo-instance>
AKUITY_ORG_NAME=<your-akuity-org-name>

# Your GitHub repository
GITOPS_REPO_URL=https://github.com/YOUR_USERNAME/akuity-workshop.git
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_PAT=YOUR_GITHUB_PAT

# Unique identifier for your workshop
WORKSHOP_NAME=<your-unique-workshop-name>

# Argo CD destination cluster
ARGOCD_DESTINATION=<<your-argocd-destination-cluster>>

# Instance hostnames (for argocd / kargo CLI login) (optional - only needed if you want to use the CLI)
ARGOCD_SERVER=<<your-argocd-instance>>
KARGO_SERVER=<<your-kargo-instance>>
